.version.works /* version checker */
{
	color: #0000E9;
	background-color: #2EF866;
}

.html
{
	background-color: #FFC2FF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 312px;
	width: 0.01px;
}

#u695-4
{
	z-index: 17;
	width: 348px;
	min-height: 29px;
	margin-left: 103px;
}

#pu139-5
{
	width: 0.01px;
	margin-top: 13px;
}

#u139-5
{
	z-index: 2;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
}

#u158-5
{
	z-index: 21;
	width: 57px;
	min-height: 12px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#pu140-5
{
	width: 0.01px;
	margin-top: 10px;
}

#u140-5
{
	z-index: 7;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
}

#u159-5
{
	z-index: 26;
	width: 57px;
	min-height: 12px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 130px;
}

#pu549-5
{
	width: 0.01px;
	margin-top: 11px;
}

#u549-5
{
	z-index: 12;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
}

#u162-5
{
	z-index: 41;
	width: 57px;
	min-height: 12px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 130px;
}

#u160-5
{
	z-index: 31;
	width: 80px;
	min-height: 12px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	margin-left: 130px;
	margin-top: 14px;
	position: relative;
}

#u161-5
{
	z-index: 36;
	width: 64px;
	min-height: 12px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	margin-left: 130px;
	margin-top: 16px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

